body { 
  background-image: url("https://cdn-icons-png.flaticon.com/512/5709/5709755.png");
  background-repeat: no-repeat;
  /* background-position-x:right;
  background-position-y: bottom; */
  /* background-position-x:center;
  background-position-y: center; */
  /* background-position: top center; */
  background-position: center;
  /* background-size: 200px; */
  /* background-size: 100%; */
  background-size: contain;
  /* background-size: cover; */
;
}