/*
## display: block

1. Ocupa toda a linha, como um `bloco`
2. `width` e `height` são aplicados
3. `padding`, `margin`, `border` funcionam por completo.

> elementos
<div>, <main>, <header>, <section>, <p>, <h...>
*/


div {
  border: solid;
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 20opx;
}