/*
## Width e Height

*/

div,span {
  border: 1px solid red;
  width: 50%;
}

.margin {
  /* margin: 30px; */
  /* margin-top:30px; */
  /* margin-left:60px; */
  /* margin: 30px 10px 80px 4rem; */
  /* margin: auto; */
  /* margin: 30px; */
  margin: 30px 30px 60px 30px;
  text-align: center;
}